---
---
@import "variables";

h1,
h2 {
  font-weight: bold;
}

div.background {
  width: 50%;
  height: auto;
  padding-top: 4%;
  padding-left: 4%;
  padding-right: 4%;
  padding-bottom: 1%;
  background-color: #e9ecef;
}
header {
  background-color: var(--header-bg);
  color: var(--header-cnt);

  .navbar-nav {
    margin-left: auto;

    .nav-link {
      color: var(--header-cnt) !important;
      @media (min-width: $bs-breakpoint-md) {
        border-radius: 0.25rem;
        transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
          border-color 0.15s ease-in-out;
        margin-left: 0.125rem;
      }
    }
  }
  .visit-nav {
    color: $bs-default-black !important
  }
  .visit {
    background-color: var(--white);
    color: inherit !important;
  }
  .nav-link:hover {
    @media (min-width: $bs-breakpoint-md) {
      color: $bs-default-black !important;
      background-color: white;
      border-color: white;
    }
  }

  img {
    height: 30px;
    width: 30px;
    transform: scale(1.75);
  }
  .navbar-brand img {
    margin-right: 0.5rem;
  }
}
body {

	background-color: white;
	color: $bs-default-black;
	--header-bg: #{$bs-primary};
	--header-cnt: white;
	--intro-heading-bg: #{$bs-primary};
	--intro-heading-cnt: white;
	--footer-bg: #f5f5f5;
	--footer-cnt: #{$bs-default-black};

}