* {
	font-family: 'Muli';
}

h1, h2{
	font-weight: bold;
}

body {
	background-color: #37A5EF;
	width: 99%;
	padding-top: 2%;
}

div.background {
	width: 50%;
	height: auto;
	padding-top: 4%;
	padding-left: 4%;
	padding-right: 4%;
	padding-bottom: 1%;
	background-color: #E9ECEF;
}
