---
---

@import "variables";

h1,
h2 {
  font-weight: bold;
}

div.background {
  width: 50%;
  height: auto;
  padding-top: 4%;
  padding-left: 4%;
  padding-right: 4%;
  padding-bottom: 1%;
  background-color: #e9ecef;
}
header {
  background-color: var(--header-bg);
  color: var(--header-cnt);

  .navbar-nav {
    margin-left: auto;

    .nav-link {
      color: var(--header-cnt) !important;
      @media (min-width: $bs-breakpoint-md) {
        border-radius: 0.25rem;
        transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
          border-color 0.15s ease-in-out;
        margin-left: 0.125rem;
      }
    }
  }
  .visit-nav {
    color: $bs-default-black !important;
  }
  .visit {
    background-color: var(--white);
    color: inherit !important;
  }
  .nav-link:hover {
    @media (min-width: $bs-breakpoint-md) {
      color: $bs-default-black !important;
      background-color: white;
      border-color: white;
    }
  }

  img {
    height: 30px;
    width: 30px;
    transform: scale(1.75);
  }
  .navbar-brand img {
    margin-right: 0.5rem;
  }
}
body {
  background-color: white;
  color: $bs-default-black;
  --header-bg: #{$bs-primary};
  --header-cnt: white;
  --intro-heading-bg: #{$bs-primary};
  --intro-heading-cnt: white;
  --footer-bg: #f5f5f5;
  --footer-cnt: #{$bs-default-black};
}
section#intro {
  background-color: var(--header-bg);
}
body.dark {
  background-color: #121212;
  color: white;
  --header-bg: #242424;
  --header-cnt: white;
  --intro-heading-bg: #242424;
  --intro-heading-cnt: white;
  --footer-bg: #242424;
  --footer-cnt: white;
}
main > h1:nth-of-type(1),
.intro-heading {
  margin: -1.5rem 0 1.5rem;
  padding: 1.5rem 0;
  background-color: var(--intro-heading-bg);
  color: var(--intro-heading-cnt);
  text-align: center;
}

.btn-white,
body.dark .dark-btn-white {
  color: $bs-default-black;
  background-color: white;
  border-color: white;

  &:hover {
    background-color: #e2e6ea;
    border-color: #dae0e5;
  }

  &:not(:disabled):not(.disabled).active {
    background-color: #dae0e5;
    border-color: #d3d9df;
  }

  &.focus,
  &:focus {
    background-color: #e2e6ea;
    border-color: #dae0e5;
    box-shadow: 0 0 0 0.2rem rgba(216, 217, 219, 0.5);
  }
}
footer {
  width: 100%;
  background-color: var(--footer-bg);
  color: var(--footer-cnt);

  div {
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  section {
    display: block;
    padding: 0 1rem;

    h3 {
      font-size: 1rem;
      margin-bottom: 0.5rem;
      font-weight: 600;
    }

    p {
      font-size: 0.75rem;
      margin-bottom: 0.5rem;
    }

    a {
      margin-bottom: 0rem;
      display: block;
    }

    &:nth-of-type(1) {
      flex: 0 0 100%;
      max-width: 100%;

      @media (min-width: $bs-breakpoint-md) {
        flex: 1 0 0;
        max-width: 100%;
      }
    }
  }
}
#dark-toggle {
	width: 4rem;
	height: 4rem;
	border-radius: 50%;
	background-color: gray;
	position: fixed;
	top: calc(100% - 5rem);
	left: calc(100% - 5rem);
	opacity: 50%;
	padding: 1rem;
	color: white;
	z-index: 1100;

	svg {
		width: 100%;
		height: 100%;
	}
}

.no-animation {
	* {
		transition: none !important
	}
}
