$scratch-orange: #ff7b26;

$bs-default-black: #212529;
$bs-blue: var(--bs-blue);
$bs-indigo: var(--bs-indigo);
$bs-purple: var(--bs-purple);
$bs-pink: var(--bs-pink);
$bs-red: var(--bs-red);
$bs-orange: var(--bs-orange);
$bs-yellow: var(--bs-yellow);
$bs-green: var(--bs-green);
$bs-teal: var(--bs-teal);
$bs-cyan: var(--bs-cyan);
$bs-white: var(--bs-white);
$bs-gray: var(--bs-gray);
$bs-gray-dark: var(--bs-gray-dark);
$bs-primary: var(--bs-primary);
$bs-secondary: var(--bs-secondary);
$bs-success: var(--bs-success);
$bs-info: var(--bs-info);
$bs-warning: var(--bs-warning);
$bs-danger: var(--bs-danger);
$bs-light: var(--bs-light);
$bs-dark: var(--bs-dark);
$bs-breakpoint-xs: 0;
$bs-breakpoint-sm: 576px;
$bs-breakpoint-md: 768px;
$bs-breakpoint-lg: 992px;
$bs-breakpoint-xl: 1200px;
$bs-font-family-sans-serif: var(--bs-font-family-sans-serif);
$bs-font-family-monospace: var(--bs-font-family-monospace);

// Based on Material Design

$dark-neutral: #121212;

$dark-dp-1: lighten($dark-neutral, 5);
$dark-dp-2: lighten($dark-neutral, 7);
$dark-dp-3: lighten($dark-neutral, 8);
$dark-dp-4: lighten($dark-neutral, 9);
$dark-dp-6: lighten($dark-neutral, 11);
$dark-dp-8: lighten($dark-neutral, 12);
$dark-dp-12: lighten($dark-neutral, 14);
$dark-dp-16: lighten($dark-neutral, 15);
$dark-dp-24: lighten($dark-neutral, 16);

$dark-disabled: rgba(255, 255, 255, 0.38);
$dark-low-emphasis: rgba(255, 255, 255, 0.6);
$dark-high-emphasis: rgba(255, 255, 255, 0.87);

// Extension-styled

$dark-ext-level-1: #222;
$dark-ext-level-2: #2a2a2a;
$dark-ext-level-3: #333;
