---
layout: markdown
---

<link rel="stylesheet" href="/assets/css/project.css" />

<h1>{{ page.title }}</h1>

<div class="container">
  <section id="intro" class="row p-4 text-left">
    <div
      class="col-12 col-md-6 py-4 px-3 px-md-4 d-flex flex-column justify-content-center"
      id="intro-info"
    >
      <h1 class="display-4 m-0 mb-3 p-0 text-left">{{ page.heading }}</h1>
      <p class="lead mb-4">{{ page.projectdesc }}</p>
    </div>
    <div class="col-12 col-md-6" id="intro-img"><img src="{{ page.img }}"></img></div>
  </section>
</div>
